<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<div class="flex flex-row gap-4">
  <%= render_button "Edit", as: :link, href: edit_article_path(@article) %>
  <%= render_button "Destroy", as: :link,
    variant: :destructive,
    href: article_path(@article),
    data:{
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>
</div>
<div>
  <%= render_button "To List", as: :link, href: articles_path %>
</div>